<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511522669571-pcpvjst0cpcukjq9ndq365k68m0ht33p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511522669571-pcpvjst0cpcukjq9ndq365k68m0ht33p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>511522669571-h2vn1ij1js1sdotacbcmq20d3thkjcds.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-YAQa1YzkzlhxY39aJTrKbbucLokG7mU</string>
	<key>GCM_SENDER_ID</key>
	<string>511522669571</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.okfn.niederrhein.moers-festival</string>
	<key>PROJECT_ID</key>
	<string>moers-festival</string>
	<key>STORAGE_BUCKET</key>
	<string>moers-festival.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511522669571:ios:00cc94aed0a36ff9</string>
	<key>DATABASE_URL</key>
	<string>https://moers-festival.firebaseio.com</string>
</dict>
</plist>