# Build generated
build/
DerivedData/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
Carthage/Build
Carthage/Checkouts

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control
fastlane/Preview.html
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output

# Gradle
.gradle

# Local properties
local.properties

# Native builds
.externalNativeBuild
.cxx

# Objective-C/Swift specific
*.dSYM
*.dSYM.zip
*.hmap
*.ipa

# Other
.DS_Store
*.iml
*.moved-aside
*.xccheckout
*.xcscmblueprint

# Playgrounds
playground.xcworkspace
timeline.xctimeline

# Swift Package Manager
.build/

# Xcode
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/project.xcworkspace/
!*.xcodeproj/xcshareddata/
*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
build/
xcuserdata/

# Miscellaneous
captures
ios/vendor
ios/Moers/Resources/Tankerkoenig-Info.plist
ios/Moers/Resources/GoogleService-Info.plist
ios/GoogleService-Info.plist