[submodule "ios/efaapi-ios"]
    path = ios/efaapi-ios
    url = https://github.com/LambdaDigamma/efaapi-ios

[submodule "ios/mmpages-ios"]
    path = ios/mmpages-ios
    url = https://github.com/LambdaDigamma/mmpages-ios

[submodule "ios/mmevents-ios"]
    path = ios/mmevents-ios
    url = https://github.com/LambdaDigamma/mmevents-ios