github "52inc/Pulley"
github "ykyouhei/SwiftyConfiguration"
github "nmdias/InfoKit"
github "regexident/Gestalt"
github "alexaubry/BulletinBoard" "master"
github "eggswift/ESTabBarController"
github "facebook/pop" ~> 1.0.10
github "regexident/EventBus"
