//
//  Staging.xcconfig
//  Moers
//
//  Created by Lennart Fischer on 18.06.19.
//  Copyright © 2019 Lennart Fischer. All rights reserved.
//

// Server URL
ROOT_URL = https:/$()/www.beta.meinmoers.lambdadigamma.com/api/v2/
BASE_URL = https:/$()/www.beta.meinmoers.lambdadigamma.com/

// Auth
CLIENT_ID = 2
CLIENT_SECRET = 9WEhoersLzvSJpTHdNtNekylFu7Bz4wNKxuCGBCs

// App Settings
APP_NAME = Moers (staging)
APP_BUNDLE_ID = de.okfn.niederrhein.Moers.staging
